@media all
{
	/* Public */
	#wrapper #loginform
	{
		background: rgba(0, 0, 0, .05);
		border-radius: .5em;
		padding: 1.5em 1.5em 1em;
		max-width: 400px;
	}

		#wrapper #loginform .form_button
		{
			margin-top: 1em;
			text-align: right;
		}

	/* Admin */
	#loginform .login_or
	{
		margin-bottom: .5em;
		text-align: center;
	}

		#loginform .login_or label
		{
			font-size: 1.4em !important;
		}

	#loginform #login_ssn
	{
		margin-bottom: .5em;
	}

		#loginform #login_ssn input
		{
			margin-bottom: .2em;
		}

		#loginform #login_ssn img.logo
		{
			filter: drop-shadow(0 0 .5em rgba(0, 0, 0, .5));
			height: 40px;
			margin-right: 1em;
			width: 40px;
			max-width: 40px;
		}

	#loginform .bankid_button
	{
		background: #fff;
		border-radius: .5em;
		box-shadow: 0 0 .5em rgba(0, 0, 0, .5);
		cursor: pointer;
		margin-bottom: .5em;
		padding: .5em 1em;
		text-align: center;
	}

		#loginform .bankid_button + .bankid_button
		{
			margin-top: 1.5em;
		}

		#loginform .bankid_button:hover
		{
			box-shadow: 0 0 .5em rgba(0, 0, 0, .2);
		}

		#loginform .bankid_button span
		{
			font-size: 1.3em;
			line-height: 1.7;
		}

		#loginform .bankid_button img.logo
		{
			height: 40px;
			margin: -1em 0;
			width: 40px;
			max-width: 40px;
		}

		#loginform .bankid_button a
		{
			color: inherit;
			font-size: 1.3em;
			line-height: 1.7;
			text-decoration: none;
		}

	#loginform #login_qr p
	{
		margin-bottom: 1em;
	}

	#loginform #login_qr .qr_code
	{
		height: 300px;
		padding-bottom: .5em;
		position: relative;
	}

		#loginform #login_qr .qr_code img
		{
			width: 300px;
		}

		#loginform #login_qr .qr_code svg
		{
			height: 100%;
			left: 0;
			margin: 0 auto;
			position: absolute;
			right: 0;
			width: 300px;
		}

			#loginform #login_qr .qr_code svg path:nth-child(1)
			{
				transform: translate(19px, 4px) rotate(0deg);
			}

			#loginform #login_qr .qr_code svg path:nth-child(2)
			{
				transform: translate(280px, 295px) rotate(180deg);
			}

			#loginform #login_qr .qr_code svg path:nth-child(3)
			{
				transform: translate(4px, 280px) rotate(-90deg);
			}

			#loginform #login_qr .qr_code svg path:nth-child(4)
			{
				transform: translate(295px, 19px) rotate(90deg);
			}

	#loginform #login_loading, #loginform #notification
	{
		margin: .5em 0;
	}

	#loginform iframe
	{
		border: 0;
		height: 0;
		width: 0;
	}
}