@media all
{
	#loginform .login_or
	{
		margin-bottom: .5em;
	}

		#loginform .login_or label
		{
			font-size: 1.4em !important;
		}

	#loginform #login_fields
	{
		margin-bottom: .5em;
	}

		#loginform #login_fields img.logo
		{
			/*-webkit-box-flex: 1 1 0;
			-webkit-flex: 1 1 0;
			-ms-flex: 1 1 0;
			flex: 1 1 0;*/
			height: 40px;
			margin-right: 1em;
			width: 40px;
			max-width: 40px;
		}

			#loginform #login_fields input
			{
				margin-bottom: .2em;
			}

	#loginform #bankid_qr
	{
		cursor: pointer;
		margin-bottom: .5em;
	}

		#loginform #bankid_qr img.logo
		{
			height: 40px;
			margin-right: 1em;
			width: 40px;
			max-width: 40px;
		}

		#loginform #bankid_qr span
		{
			background: #fff;
			border-radius: .5em;
			font-size: 1.3em;
			padding: .5em;
		}

	#loginform #login_loading
	{
		margin: .5em 0;
	}

	#loginform #notification
	{
		margin: .5em 0;
	}

	#loginform iframe
	{
		border: 0;
		height: 0;
		width: 0;
	}
}