@media all
{
	/* Public */
	#wrapper #loginform
	{
		background: #ccc;
		border-radius: 1em;
		padding: 1em 1em .5em;
		max-width: 400px;
	}

		#wrapper #loginform .form_button
		{
			margin-top: 1em;
			text-align: right;
		}

	/* Admin */
	#loginform .login_or
	{
		margin-bottom: .5em;
	}

		#loginform .login_or label
		{
			font-size: 1.4em !important;
		}

	#loginform #login_ssn
	{
		margin-bottom: .5em;
	}

		#loginform #login_ssn input
		{
			margin-bottom: .2em;
		}

		#loginform #login_ssn img.logo
		{
			filter: drop-shadow(0 0 .5em rgba(0, 0, 0, .5));
			height: 40px;
			margin-right: 1em;
			width: 40px;
			max-width: 40px;
		}

	#loginform .bankid_button
	{
		background: #fff;
		border-radius: .5em;
		box-shadow: 0 0 .5em rgba(0, 0, 0, .5);
		cursor: pointer;
		margin-bottom: .5em;
		padding: .5em 1em;
		text-align: center;
	}

		#loginform .bankid_button:hover
		{
			box-shadow: 0 0 .5em rgba(0, 0, 0, .2);
		}

		#loginform .bankid_button span
		{
			font-size: 1.3em;
			line-height: 1.7;
		}

		#loginform .bankid_button img.logo
		{
			filter: drop-shadow(0 0 .5em rgba(0, 0, 0, .5));
			height: 30px;
			width: 30px;
			max-width: 30px;
		}

		#loginform .bankid_button a
		{
			color: inherit;
			font-size: 1.3em;
			line-height: 1.7;
			text-decoration: none;
		}

	#loginform #login_loading, #loginform #notification
	{
		margin: .5em 0;
	}

	#loginform iframe
	{
		border: 0;
		height: 0;
		width: 0;
	}
}