/*.widget.login_form form#loginform
{
	text-align: center;
	width: auto;
}*/

#loginform #login_ssn
{
	margin-bottom: .5em;
}

	#loginform #login_ssn input
	{
		margin-bottom: .2em;
	}

#loginform .bankid_button
{
	background: #fff;
	border-radius: .5em;
	box-shadow: 0 0 .5em rgba(0, 0, 0, .5);
	cursor: pointer;
	margin: 0 auto .5em;
	padding: .5em 1em;
	text-align: center;
	max-width: 18em;
}

	#loginform .bankid_button + .bankid_button
	{
		background: none;
		box-shadow: none;
		font-size: .8em;
		margin-bottom: 0;
		text-decoration: underline;
	}

	#loginform .bankid_button:hover
	{
		box-shadow: 0 0 .5em rgba(0, 0, 0, .2);
	}

		#loginform .bankid_button + .bankid_button:hover
		{
			box-shadow: none;
		}

#loginform .bankid_button p
{
	margin-bottom: 1em;
}

#loginform .bankid_button .qr_code
{
	position: relative;
}

	#loginform .bankid_button .qr_code svg.qr_borders
	{
		left: 0;
		margin: 0 auto;
		position: absolute;
		right: 0;
	}

		#loginform .bankid_button .qr_code svg.qr_borders path:nth-child(1)
		{
			transform: translate(19px, 4px) rotate(0deg);
		}

		#loginform .bankid_button .qr_code svg.qr_borders path:nth-child(2)
		{
			transform: translate(280px, 295px) rotate(180deg);
		}

		#loginform .bankid_button .qr_code svg.qr_borders path:nth-child(3)
		{
			transform: translate(4px, 280px) rotate(-90deg);
		}

		#loginform .bankid_button .qr_code svg.qr_borders path:nth-child(4)
		{
			transform: translate(295px, 19px) rotate(90deg);
		}

	#loginform .bankid_button .qr_code img, #loginform .bankid_button .qr_code svg:not(.qr_borders)
	{
		height: 100%;
		width: 100%;
	}

#loginform .login_loading, #loginform .notification
{
	margin: .5em 0;
}

/* Public */
.widget.login_form #loginform
{
	background: rgba(0, 0, 0, .05);
	border-radius: .5em;
	padding: 1.5em 1.5em 1em;
	/*width: 400px;*/
}

	.widget.login_form #loginform .form_button, .widget.login_form #loginform .wp-block-button
	{
		margin-top: 1em;
		text-align: right;
	}

.widget.login_form #loginform + p
{
	margin-top: 1em;
}

/* Admin */
#login
{
	min-width: 380px;
}

#login #loginform
{
	min-width: 330px;
}

/* Theme */
#wrapper #loginform .bankid_button span
{
	font-size: 1.3em;
	line-height: 1.7;
}